<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EV Admin Login</title>
        <link rel="stylesheet" href="css/admin_login.css">
    </head>

    <body>
        <div class="login-container">
            <h1>Welcome Back!</h1>
                <form action="/Adminlogin" method="POST">
                    <div class="input-container">
                        <label for="username">Username</label>
                            <input type="text" id="username" name="adminloginusername" placeholder="Enter your username" required>
                    </div>

                    <div class="input-container">
                        <label for="password">Password</label>
                            <input type="password" id="password" name="adminloginpassword" placeholder="Enter your password" required>
                    </div>

                    <button type="submit">Login</button>

                </form>

                <div class="signup-link">
                    Don't have an account? <a href="/admin_registration">Sign Up</a>
                </div>
        </div>
    </body>
</html>
