<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EV Charging Portal</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div class="container">
        <h1>Welcome to our EV Charging Portal</h1>
        <p>Your one-stop destination for electric vehicle charging services.</p>
        <div class="button-container">
            <a href="/user_registration" class="btn">User Registration</a>
            <a href="/user_login" class="btn">User Login</a>
            <a href="/admin_registration" class="btn">Admin Registration</a>
            <a href="/admin_login" class="btn">Admin Login</a>
        </div>
    </div>
</body>
</html>
